<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Some Website</title>
</head>

<body>
	{{> header}}
	<p> Lorsum iprem. Vala sur ipdi nunc, lorsus sur ipdi, lorsum sur iprium. Lorsa sur ipci. Lorsum sur ipci et, lorsum
		sur ipdi, valum sur ipdi.</p>

	{{> footer}}
</body>

</html>